<h1>Editing Interest Calculation</h1>

<%= render 'form', interest_calculation: @interest_calculation %>

<%= link_to 'Show', @interest_calculation %> |
<%= link_to 'Back', interest_calculations_path %>
