<p id="notice"><%= notice %></p>

<%= render 'results', interest_calculation: @interest_calculation %>

<%= link_to 'Edit', edit_interest_calculation_path(@interest_calculation) %> |
<%= link_to 'Back', interest_calculations_path %>
